<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Paper Analyzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>PPA</h1>
    </header>
    <main>
        <h1>Upload, Relax, and Let PPA Do the Analysis for You!</h1>
        <p>Powered by Gemini 1.5 Pro</p>
        <section class="upload-section">
            <label for="qp" class="drop-container" id="dropcontainer">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" id="qp" multiple>
            </label>
        </section>
        <button id="upload-btn">Upload and Analyze</button>
        <section class="result-section">
            <div id="result-text"></div>
        </section>
    </main>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>